<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClSvj0atHvqlg9yc4RYUIxctHAB-ZJjNs</string>
	<key>GCM_SENDER_ID</key>
	<string>578428741724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SeongKook.RemoteConfig</string>
	<key>PROJECT_ID</key>
	<string>fir-remoteconfigapp-49b8c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-remoteconfigapp-49b8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578428741724:ios:41dc08dbdfe2a57c199e99</string>
</dict>
</plist>